<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyYaoChuFa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4E692CE1D6D980200C48D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4E692E71D6D980200C48D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4E692F21D6D980200C48D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
